/* ===== リセット ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 全体レイアウト */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* ===== ヘッダー ===== */
.header {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.header form {
    flex: 1;
    margin: 0 40px;
}

.header input {
    width: 100%;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
}

.nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* 通常リンク */
.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

/* 出品ボタン */
.sell-btn {
    background: #fff;
    color: #000 !important;
    padding: 6px 15px;
    border-radius: 4px;
    font-weight: bold;
}

/* コンテンツ共通幅 */

/* PC（1400〜1540px） */
.container {
    max-width: 1540px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* タブレット（768〜850px） */
@media screen and (max-width:850px) {

    .container {
        max-width: 850px;
        padding: 0 20px;
    }

}

/* エラーメッセージ */
.error-message {
    color: #ff0000;
    font-size: 14px;
    margin-bottom: 10px;
}

.error-message p {
    margin: 3px 0;
}